<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.glsx.app.modules.mapper.UserQQAccountMapper">
    <resultMap id="BaseResultMap" type="cn.com.glsx.app.modules.entity.UserQQAccount">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="auth_id" jdbcType="INTEGER" property="authId"/>
        <result column="union_id" jdbcType="VARCHAR" property="unionId"/>
        <result column="qq_avatar" jdbcType="VARCHAR" property="qqAvatar"/>
        <result column="qq_name" jdbcType="VARCHAR" property="qqName"/>
        <result column="del_flag" jdbcType="TINYINT" property="delFlag"/>
        <result column="created_date" jdbcType="TIMESTAMP" property="createdDate"/>
        <result column="created_by" jdbcType="INTEGER" property="createdBy"/>
        <result column="updated_date" jdbcType="TIMESTAMP" property="updatedDate"/>
        <result column="updated_by" jdbcType="INTEGER" property="updatedBy"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbg.generated
        -->
        id, auth_id, union_id, qq_avatar, qq_name, del_flag, created_date, created_by, updated_date,
        updated_by
    </sql>

    <select id="selectByAuthId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_user_qq_account
        where auth_id = #{authId}
        and del_flag = 0
    </select>
</mapper>