<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.glsx.order.modules.mapper.OrderMapper">
    <resultMap id="BaseResultMap" type="cn.com.glsx.order.modules.entity.Order">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="order_no" jdbcType="VARCHAR" property="orderNo"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="commodity_code" jdbcType="VARCHAR" property="commodityCode"/>
        <result column="count" jdbcType="INTEGER" property="count"/>
        <result column="amount" jdbcType="DOUBLE" property="amount"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbg.generated
        -->
        id, order_no, user_id, commodity_code, `count`, amount
    </sql>
</mapper>